.tags-selector {
	position: relative;
}

.tags{
	width:100%;
	padding-top: 0.375rem;
    padding-right: 0.75rem;
    padding-bottom: 0.375rem;
    padding-left: 0.75rem;
    max-height: 200px;
    overflow-y: scroll;
}

.clear-icon{
	font-size: 1.3rem;
    vertical-align: middle;
    margin-bottom: 2px;
    margin-left:5px;
    cursor: pointer;
}

.choosen_tag_item{
	padding-top: 0.375rem;
    padding-right: 0.25rem;
    padding-bottom: 0.375rem;
    padding-left: 0.75rem;
	border:1px solid #ced4da;
    border-radius: 0.25rem;
    margin-right: 1rem;
}

.tags-selected li {
	display:none;
}

.tags-selected li.show {
	display: inline-block;
}

.tag_item {
    cursor: pointer;
}

#inputTypes {
    cursor: pointer;
}