.form{
    &__contrainer {
        padding: 30px;
    } 
}

.textFieldSearch {
    position: relative;
    &__list {
        & > div {
            position: absolute;
            width: 100%;
            z-index: 100;
        }
       
    }
}